<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>{{ webname }}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/minstyle.io@2.0.1/dist/css/minstyle.io.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/dark-mode-switcher@0.0.1/dist/dark.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/fontawesome.min.css') }}"/>
</head>
<body>
<div class="container ms-center ms-text-center">
    <div class="ms-menu">
        <div class="ms-menu-logo">
            <img src="https://rawcdn.githack.com/Catalyst-Craft/logos/01f55b545c3892f25040479a884a079fa63a6eed/builderhack2logo.svg" alt="Logo"/>
        </div>
        <nav class="ms-menu-link">
            <input type="checkbox" id="ms-menu-toggle" />
            <label for="ms-menu-toggle" class="ms-menu-icon"
            ><i class="fa fa-bars"></i
            ></label>
            <ul>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="p-5">
        <div class="row">
            <button class="col m-3"><a href="/level/1">1</a></button>
            <button class="col m-3">2</button>
            <button class="col m-3">3</button>
            <button class="col m-3">4</button>
        </div>
        <div class="row">
            <button class="col m-3">5</button>
            <button class="col m-3">6</button>
            <button class="col m-3">7</button>
            <button class="col m-3">8</button>
        </div>
        <div class="row">
            <button class="col m-3">9</button>
            <button class="col m-3">10</button>
            <button class="col m-3">11</button>
            <button class="col m-3">12</button>
        </div>
        <div class="row">
            <button class="col m-3">13</button>
            <button class="col m-3">14</button>
            <button class="col m-3">15</button>
            <button class="col m-3">16</button>
        </div>
    </div>
</div>
</body>
</html>