<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>{{ webname }}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/minstyle.io@2.0.1/dist/css/minstyle.io.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/dark-mode-switcher@0.0.1/dist/dark.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/fontawesome.min.css') }}"/>
</head>
<body>
<div class="container ms-center ms-text-center">
    <div class="ms-menu">
        <div class="ms-menu-logo">
            <img src="https://rawcdn.githack.com/Catalyst-Craft/logos/01f55b545c3892f25040479a884a079fa63a6eed/builderhack2logo.svg" alt="Logo"/>
        </div>
        <nav class="ms-menu-link">
            <input type="checkbox" id="ms-menu-toggle" />
            <label for="ms-menu-toggle" class="ms-menu-icon"
            ><i class="fa fa-bars"></i
            ></label>
            <ul>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="p-5">
        <div class="row">
            <button class="col m-3" onclick="location.href='/level/1'" {% if stats['one'] == 'true' %}disabled{% endif %}>1</button>
            <button class="col m-3" onclick="location.href='/level/2'" {% if stats['two'] == 'true' %}disabled{% endif %}>2</button>
            <button class="col m-3" onclick="location.href='/level/3'" {% if stats['three'] == 'true' %}disabled{% endif %}>3</button>
            <button class="col m-3" onclick="location.href='/level/4'" {% if stats['four'] == 'true' %}disabled{% endif %}>4</button>
        </div>
        <div class="row">
            <button class="col m-3" onclick="location.href='/level/5'" {% if stats['five'] == 'true' %}disabled{% endif %}>5</button>
            <button class="col m-3" onclick="location.href='/level/6'" {% if stats['six'] == 'true' %}disabled{% endif %}>6</button>
            <button class="col m-3" onclick="location.href='/level/7'" {% if stats['seven'] == 'true' %}disabled{% endif %}>7</button>
            <button class="col m-3" onclick="location.href='/level/8'" {% if stats['eight'] == 'true' %}disabled{% endif %}>8</button>
        </div>
        <div class="row">
            <button class="col m-3" onclick="location.href='/level/9'" {% if stats['nine'] == 'true' %}disabled{% endif %}>9</button>
            <button class="col m-3" onclick="location.href='/level/10'" {% if stats['ten'] == 'true' %}disabled{% endif %}>10</button>
            <button class="col m-3" onclick="location.href='/level/11'" {% if stats['eleven'] == 'true' %}disabled{% endif %}>11</button>
            <button class="col m-3" onclick="location.href='/level/12'" {% if stats['twelve'] == 'true' %}disabled{% endif %}>12</button>
        </div>
        <div class="row">
            <button class="col m-3" onclick="location.href='/level/13'" {% if stats['thirteen'] == 'true' %}disabled{% endif %}>13</button>
            <button class="col m-3" onclick="location.href='/level/14'" {% if stats['fourteen'] == 'true' %}disabled{% endif %}>14</button>
            <button class="col m-3" onclick="location.href='/level/15'" {% if stats['fifteen'] == 'true' %}disabled{% endif %}>15</button>
            <button class="col m-3" onclick="location.href='/level/16'" {% if stats['sixteen'] == 'true' %}disabled{% endif %}>16</button>
        </div>
    </div>
</div>
</body>
</html>